{
    "kind": "service",
    "cmd": "gamescope",
    "args": [
        "-e",
        "--steam",
        "--", "steam", "-gamepadui", "-steamos3" ,"-steampal", "-steamdeck"
    ],
    "stop_signal": "SIGTERM",
    "max_restarts": 0,
    "restart_delay_secs": 5,
    "dependencies": [  ]
}
